.generic-content-container{
    p{
        line-height: 1.6;
        @mixin atSmall{
            font-size: 1.125rem;
        }
        margin: 1.8rem 0;
    }
    p a {
        font-weight: 700;
        
    }
}