
.page-section{
    margin: 2rem 0;
    @mixin atSmall{
        margin: 4rem 0;
    }
    &--bgFeatures{
        color: #FFF;
        background-color: #647745;
        
    }

    &--testimonials{
        margin-top: -2rem;
        background-color: rgba(150, 168, 178, .5);
        @mixin atLarge{
            margin-top: -4rem;
            background: url('../../assets/images/testimonials-bg.jpg') top center no-repeat;
            background-size: cover;
        }
       
    }

}