.row {
  @mixin clearfix;

  &--t-padding {
    padding-top: 80px;
  }

  &--gutters {
    margin-right: -4rem;
  }
 
  &--gutters > div {
    padding-right: 4rem;
  }


  @mixin atMedium {
    &__medium-4 {
      float: left;
      width: 33.33%;
    }
    &__medium-4-larger{
        width: 37%;
    }
    &__medium-6{
      float: left;
      width: 50%;
    }
    &--gutters-larger{
      padding-right: 5rem;
    }
    &__medium-8 {
      float: left;
      width: 66.67%;
    }   
    &__medium-8-smaller{
        width: 63%;
    }
  }


  @mixin atLarge {
    &__large-4 {
      float: left;
      width: 33.33%;
    }
    &__large-4-larger{
        width: 37%;
    }
    &__large-6{
      float: left;
      width: 50%;
    }
    &--gutters-larger{
      padding-right: 5rem;
    }
    &__large-8 {
      float: left;
      width: 66.67%;
    }   
    &__large-8-smaller{
        width: 63%;
    }
  }
  
  
  &__b-margin-until-medium{
      margin-bottom: 1rem;
  }
  @mixin atSmall {
    &__b-margin-until-medium{
        margin-bottom: 0;
    }
  }

  /*Debut Règles de hauteur équivalente*/
  &--equal-height-at-medium{
    @mixin atMedium{
      display: flex;
    }
    & > div {
      float: none;
      display: flex;
    }
  }
  &--equal-height-at-large{
    @mixin atLarge{
      display: flex;
    }
    & > div {
      float: none;
      display: flex;
    }
  }

  
}
